/* *{
    padding: 0;
    margin: 0;
} */
body{
    background-color: rgb(155, 155, 155);
    font-size: 30px;
    position: relative;
    left: 450px;
    top: 150px;
    max-width: 50%;
}


.tareaNew{
    font-size: 20px;
    position: relative;
    right: 50px;
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 15px;
}
.tareaNew:focus{
    outline: 4px solid white;
}
.boton{
    padding: 15px;
    margin: 0 0 30px 5px;
}











/* OTRA MEDIDA */



@media screen and (min-width: 460px) and (max-width: 800px) { 
    .tareaNew{
        font-size: 15px;
        position: relative;
        right: 50px;
        background-color: rgb(255, 0, 0);
        color: rgb(255, 0, 0);
        margin-top: 30px;
        padding: 15px;
    }
    body{
        background-color: rgb(155, 155, 155);
        font-size: 20px;
        position: relative;
        left: 310px;
        top: 150px;
        max-width: 320px
    }
    .boton{
        padding: 10px;
        margin: 0 0 30px 5px;
    }
}






@media screen and (min-width: 120px) and (max-width: 450px) {
    .tareaNew{
        font-size: 15px;
        position: relative;
        right: 50px;
        background-color: black;
        color: white;
        margin-top: 30px;
        padding: 15px;
    }
    body{
        background-color: rgb(155, 155, 155);
        font-size: 15px;
        position: relative;
        left: 110px;
        top: 150px;
        max-width: 320px
    }
    .boton{
        padding: 10px;
        margin: 0 0 30px 5px;
    }
}